.header{
    background-color: $colors[color-bright-gray];
    padding: $spacing[gap-lx];
    text-align: $fonts[text-align];
    margin-bottom: $spacing[gap];
    ul{
        list-style: none;
        display: flex;
        gap: 20px;
    }
}

header{
    ul{
        li{
            &:hover{
                color: $colors[color-nickel-blue];
                transition: 0.3s linear;
            }
        }
    } 
}