.section{
    background:rgba(229, 229, 229, 1);
    ;
}

.container-block{
    display:flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.block-title{
    width: 354px;
    height: 96px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: rgba(45, 54, 81, 1);
    padding-top: 60px;
}

.block-desc{
    width: 936px;
    height: 320px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(99, 117, 136, 1);
    padding-top: 50px;
}

.inline{
    position: relative;
    padding: 142px 50px 142px 42px;
}
 .inline::after{
    content: "";
    position: absolute;
    height: 200px;
    width: 1px;
    border: 1px solid rgba(112, 112, 112, 1);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
 }

.block__img-lamp{
    padding-top: 100px;
}