.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .logo{
        padding-top: 48px;
        img{
            width: 100px;
        }
    }
}
.wrapper__wrapper{
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    padding-top: 38px;
}

.header__nav-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-right: 41px;
    }

.header-item{
    margin-right: 20px;
    text-decoration: none;
    color: $colors[color-white];
    font-size: 18px;
    line-height: 20px;
}
.header__link{
    text-decoration: none;
    color: $colors[color-white];
    font-size: 18px;
    line-height: 20px;
    background: transparent;
}   

.header__link:hover{
    color: $colors[color-piper];
}