.third-section{
    padding: 100px 0;

        .third-section{

            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 45px;
                color: $color-white;
                flex-wrap: wrap;
             } 
                    .project-item{
                        display: flex;
                        $spacing: gap;
                        $width: 130px;
                        height: 50px;

                        p{
                            &:first-child{
                                @include mixinFonts ($color-white, 500, 21px, 24.61px);
                                max-width: auto;
                                padding: 0 0 10px 0;
                            }
                            &:last-child{
                                @include mixinFonts ($color-white, 400, 13px, 21.33px);
                                max-width: auto;
                                padding: 0;
                            }
                        }
                    }
         }
}